@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
		/* 
      remember to be explcit
      use classes, ids, etc so you don't conflict

    */
		body {
			background-color: #ddd;
		}

		ul {
			list-style-type: none;
			text-align: center;
			border-bottom: 1px solid #777;
			border-top: 1px solid #777
		}

		nav li {
			display: inline;
		}

		/* might want to be more specific now that we have a footer*/
		nav li a {
			text-decoration: none;
			color: #777;
			font-family: Roboto Slab;
			font-size: 0.8em;
			padding-left: 0.3em;
		}

		header {
			font-family: Abril Fatface;
		}

		.newspaper-container {
			width: 700px;
			border-radius: 30px;
			box-shadow: 10px 10px 10px #ddd;
			padding: 30px;
			margin: auto;
			background-color: white;
		}


		h1 {
			text-align: center;
			font-family: Roboto Slab;
		}

		main h2 {
			font-family: Roboto Slab;
		}

		main img {
			width: 100%;
		}

		main p {
			font-family: Source Sans Pro;
			color: #777;
			margin-left: 0.5em;
			margin-right: 0.4em;
		}

		main h5 {
			color: #dd3232;
		}


		#hfour-article-two {
			text-align: left;
			font-family: Roboto Slab;

		}

		.tabs-spacesarticle {
			width: 49%;
			float: left;
		}

		.tabs-spacesarticle p {
			color: #777;
			font-family: Source San Pro;
		}

		.caffeine-article h4 {
			font-family: Roboto Slab;

		}

		.caffeine-article p {
			color: #777;
			font-family: Source San Pro;
		}

		.caffeine-article {
			width: 49%;
			float: right;
		}

		footer {
			text-align: center;
		}

		.weather-icon {
			float: right;
			letter-spacing: 0.15em;


		}

		/* below i am trying to center the last image, but it is not working correctly */

		#last-image {
			display: block;
  			margin-left: auto;
  			margin-right: auto;
 			width: 50%;

		}

		#extra-one {
			color: #777;
			font-family: Source San Pro;

		}

		#extra-two {
			color: #777;
			font-family: Source San Pro;

		}

		#extra-three {
			color: #777;
			font-family: Source San Pro;

		}

		#head1 {
			text-align: left;
			font-family: Roboto Slab;


		}
		
		#head2 {
			text-align: left;
			font-family: Roboto Slab;


		}

		#head3 {
			text-align: left;
			font-family: Roboto Slab;


		}
	